
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.979);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a:nth-child(2) {
    margin-left: 5vw;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 10vw;
}

#navIcon {
    position: absolute;
    margin-left: 0vw;
}

.sidenav span img {
    width: 5vw;
    height: auto;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.socialNav {
    opacity: .5;
    margin-left: 80vw;
}

.socialNav img {
    margin-left: 2vw;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}